.StartHeader {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#StartLogo {
    text-decoration: none;
}

.CoinLogo {
    animation-duration: 4s;
    animation-name: spin;
    animation-iteration-count: infinite;
}
  
  @keyframes spin {
    from {
        transform: rotateY(0deg);
    }
  
    to {
        transform: rotateY(360deg);
    }
  }
/* 
.CoinLogo:hover, .CoinLogo:focus {
    opacity: .6;
} */

#flip {
    font-size: 70px;
    margin-left: 30px;
    margin-bottom: 5px;
}
/* 
#flip:hover, #flip:focus {
    opacity: .6;
} */

.Hamburger {
    margin-right: 10px;
    cursor: pointer;
}

.Hamburger:hover, .Hamburger:focus {
    opacity: .6;
}

.StartLogo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}