.StartHeader {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#StartLogo {
    text-decoration: none;
}

.CoinLogo {
    animation-duration: 4s;
    animation-name: spin;
    animation-iteration-count: infinite;
}
  
  @keyframes spin {
    from {
        transform: rotateY(0deg);
    }
  
    to {
        transform: rotateY(360deg);
    }
  }

#flip {
    font-size: 70px;
    margin-left: 30px;
    margin-bottom: 5px;
}

.Hamburger {
    margin-right: 10px;
    cursor: pointer;
}

.Hamburger:hover, .Hamburger:focus {
    opacity: .6;
}

.StartLogo {
    display: flex;
    align-items: center;
    margin-left: 30px;
}

@media screen 
and (max-width : 480px) {
    .HeaderEmptyDiv {
        display: none;
    }

    .StartLogo {
        display: flex;
    }

    #flip {
        font-size: 70px;
        margin-bottom: 5px;
    }

    .StartHeader {
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .Hamburger {
        cursor: pointer;
    }
}