.Player {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    /* border: 1px solid black; */
}

.PlayerRow {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 10px;
}

.PlayerRowText {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
    margin-left: 100px;
    width: 60px;
    font-size: 20px;
    color: purple;
    align-items: flex-end;
}

.PlayerRowInput {
    /* border: 1px solid black; */
    display: flex;
    justify-content: flex-start;
    width: 200px;
    font-size: 20px;
    align-items: center;
    align-content: center;
}

.PlayerRowInput-winner {
    color: green;
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    width: 200px;
    align-items: center;
    align-content: center;
}