.PlayOptions {
    text-align: center;
    margin: 200px 0;
    font-size: 35px;
    /* margin-top: 200px; */
    width: 450px;
    /* border: 1px solid black; */
}

.PlayOption {
    margin: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    transition: all .1s ease-in-out;
}

.PlayOption:hover, .PlayOption:focus {
    font-size: 45px;
    color: purple;
}

a:link, a:visited {
    color: black;
}
