.WaitingPlayers {
    border: 2px solid black;
    width: 250px;
    /* height: 400px; */
    margin: 0 0 100px 0;
    scroll-behavior: smooth;
    animation: border-color-change 8s infinite;
}

    @keyframes border-color-change {
        0% {
            border-color: black;
        }
        50% {
            border-color: rgb(82, 197, 168);
        }
        100% {
            border-color: purple;
        }
    }

.WaitingPlayersTitle {
    margin-bottom: 20px;
    font-size: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 10%;
}

.WaitingPlayer {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    height: 30px;
}

.WaitingPlayerText{
    width: 100px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@media screen 
and (max-width : 480px) {
    .WaitingPlayers {
        border: 2px solid black;
        width: 250px;
        min-height: 150px;
        margin: 0 0 100px 0;
        scroll-behavior: smooth;
        animation: border-color-change 8s infinite;
    }
}