.WaitingPlayers {
    border-right: 2px solid black;
    width: 350px;
    height: 500px;
    margin: 50px 0;
    scroll-behavior: smooth;
}

.WaitingPlayersTitle {
    margin-bottom: 20px;
    font-size: 25px;
    color: black;
    display: flex;
    justify-content: center;
}

.WaitingPlayer {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 20px;
    height: 30px;
}

.WaitingPlayerText{
    width: 100px;
    overflow-x: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
/* 
.WaitingPlayerBet, .WaitingPlayerSide {
    width: 100px;
} */